body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

form {
  width: 600px;
  height: 400px;
  margin-top: 5%;
  box-shadow: 0 0 10px 5px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 input {
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: none;
  font-size: 24px;
  border: 2px solid #282b2a;
}

input:nth-child(3) {
  width: 100px;
  background-color: white;
  box-shadow: 2px 2px 0 2px black;
}

input:nth-child(3):hover {
  box-shadow: 2px 2px 0 2px #a01b25;
  border: 2px solid #a01b25;
  cursor: pointer;
  color: #a01b25;
}

p {
  height: 10px;
  font-size: 18px;
  color: #c7101e;
}
